// font settings:
$fontFace: ./Iosevka.ttf;
$fontHoverStyle: italic;
$fontWeight: 600;
$fontH1Size: 2.2em;
$fontH2Size: 1.2em;
$fontLiFCSize: 1.5em;
$fontASize: 1.1em;

// color settings:
$themeFg: #D9E0EE;
$themeFgAlt: #F5C2E7;
$themeAccent: #96CDFB;
$themeHover: #89DCEB;
$themeBg: #1E1E2E;
