// font settings:
$fontFace: Pragmata Pro;
$fontHoverStyle: italic;
$fontWeight: 600;
$fontH1Size: 2.2em;
$fontH2Size: 1.2em;
$fontLiFCSize: 1.5em;
$fontASize: 1.1em;

// color settings:
$themeFg: #dcd9c0;
$themeFgAlt: #525252;
$themeAccent: #daa6c3;
$themeHover: #e0db96;
$themeBg: #101010;