@font-face {
  font-family: "SpaceMono Nerd Font";
  font-display: swap;
  src: local("SpaceMono Nerd Font"), url(../fonts/SpaceMonoNF.woff2)format("woff2"), url(../fonts/SpaceMonoNF.woff)format("woff")
}

:root {
  color-scheme: dark
}

img {
  transition: transform .2s ease-out, opacity .3s ease-in-out
}

html {
  display: flex;
  align-items: center;
  height: 100svh;
  background: var(--background-color);
  overflow-x: clip
}

a,
body {
  color: var(--text-color)
}

body,
html {
  justify-content: center
}

body {
  font-family: SpaceMono Nerd Font, monospace
}

#image,
#text {
  opacity: 0;
  transition: opacity .3s ease-in
}

#image.loaded,
#text.loaded {
  opacity: 1
}

#text.loaded * {
  transition: color .3s ease-in-out
}

#text,
body {
  display: flex;
  align-items: center
}

#text {
  flex-direction: column
}

#carouselImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
}

#image {
  width: 320px;
  height: 550px;
	padding-right: 0.5em;
}

#carouselImage:hover {
  transform: scale(1.1);
  cursor: pointer
}

@media (max-width:800px) {
  img {
    display: none
  }
}

#greeting {
  color: var(--accent-color-2);
  font-size: 2.5em;
  font-weight: 900;
  grid-column: 1/-1;
  text-align: center;
  display: grid
}

#date,
.header {
  color: var(--accent-color);
  font-weight: 600;	
}

#date {
  font-size: 1.3em;
  display: grid;
  grid-column: 1/-1;
  margin: 1em 0;
	text-align: center
}

.header {
  font-size: 1.6em;
	padding-left: 0.8em
}

#links {
  display: grid;
  grid-row-gap: .5em;
  grid-template-columns: repeat(2, 1fr)
}

ul {
  list-style-type: none
}

a {
  font-size: 1.2em;
  text-decoration: none
}

a:hover {
  color: var(--hover-color);
  font-style: italic
}
